<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Tracker</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
    {% csrf_token %}
      <div class="container">
        <!-- Главный заголовок приложения (содержит фамилию и дату) -->
        <br>
        <h2><strong>Task Tracker Нерсисян А.С. на 29.04. 📝</strong></h2>
        
        <!-- Список задач на день, оформленный с помощью Bootstrap -->
        <!-- Каждая задача - отдельный пункт с временем выполнения -->
        <br>

         <ul class="list-group">

            <li class="list-group-item mb-2">
              1. Проснуться в 8:20.
            </li> 
            <li class="list-group-item mb-2">
              2. Поесть и собраться в университет.
            </li> 
            <li class="list-group-item mb-2">
              3. Выйти в 9:05 на автобус.
            </li> 
            <li class="list-group-item mb-2">
              4. Сесть на электричку в 9:27.
            </li>
            <li class="list-group-item mb-2">
              5. Пересесть на метро в 10:17.
            </li>
            <li class="list-group-item mb-2">
              6. Прийти в университет в 11:00.
            </li>
            <li class="list-group-item mb-2">
              7. Пойти на пары.
            </li>

        </ul>



      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



  </body>
</html>